.demoModal-container {
  font-family: Poppins, sans-serif;
  position: fixed;
  top: 8vw;
  z-index: 5;
}

.demo-content-container {
  border-radius: 0.7vw;
  position: relative;
  left: 5%;
  z-index: 99;
  background-color: rgb(255,255,255);
  width: 90%;
  height: 65vh;
  padding: 1.5vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vw;
  text-align: -webkit-center;
}

.demo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.demo-content-container h1 {
  font-size: 3.5vw;
  font-weight: 700;
  color: rgb(30,64,175);
  text-align: center;
}

.demo-content-container h3 {
  font-size: 1.5vw;
  font-weight: 400;
  color: black;
  text-align: center;
}

.demo-content-container p {
  margin: 3vw 0vw 0vw 0vw;
  font-size: 1.5vw;
  font-weight: 600;
  color: black;
  text-align: center;
}

.demo-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 70%;
}


#x-btn {
  position: absolute;
  top: 2vh;
  right: 2vw;
  z-index: 999;
  cursor: pointer;
  padding: 0vh 0vw;
}

#x-btn:hover {
  transform: scale(1.1);
  background: none;
}

.card-item {
  border-radius: 0.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  height: 100%;
  padding: 1vw;
  border: 1px solid rgb(229,231,235);
  height: 17vw;
}

.card-item:hover {
  border-radius: 0.7vw;
  background: #E3EEFF;
  cursor: pointer;
}

.card-item h2 {
  font-size: 1.5vw;
  font-weight: 300;
  color: black;
  text-align: center;
}

