#first {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  height: 70vh;
  color: white;
  padding: 0vh 2vw;
}

#first-container {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  height: 57vh;
  color: white;
  padding: 10vh 2vw 2vh;
}

#first-container h1 {
  font-size: 3.88vw;
  font-weight: 600;
  margin-bottom: 1.5vh;
}

#first-container h3 {
  font-size: 1.7vw;
  font-weight: 300;
  margin-bottom: 3vh;
}

#first-col {
  height: 41vh;
}

#overview-img {
  display: flex;
  height: 41vh;
  justify-content: center;
}

#overview-img img {
  height: 25vw;
}

#demo-btn-first {
  background: linear-gradient(to top right, #16a34a, #22c55e);
  font-weight: 700;
  width: 15vw;
  margin-bottom: 3vh;
}

#demo-btn-first:hover {
  background: linear-gradient(to right, #16a34a, #22c55e);
}

.first-content-container {
  height: 41vh;
  display: flex;
  flex-direction: column;
}

.avaliation-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 4vw;
  margin-bottom: 3vh;
}
 
.avaliation-container img:nth-of-type(1) {
  width: 13vw;
}

.avaliation-container img:nth-of-type(2) {
  width: 8vw;
}

.logos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
}

.logos-container img:nth-child(1) {
  height: 3vh;
  width: 13vw;
}

.logos-container img:nth-child(2) {
  height: 8vh;
  width: 6vw;
}

.logos-container img:nth-child(3) {
  width: 12vw;
  height: 5vh;
}

.logos-container img:nth-child(4) {
  height: 3vh;
  width: 14vw;
}

.logos-container img:nth-child(5) {
  height: 4vh;
  width: 15vw;
}

/* Media Queries */
@media (min-width: 576px) and (max-width: 767px) {
  #first {
    height: 110vh;
  }

  #first-container {
    padding: 5vh 7vw 2vh;
  }

  #first-container h1 {
    font-size: 5vw;
  }

  .avaliation-container img:nth-of-type(2) {
    width: 14vw;
  }

  .avaliation-container img:nth-of-type(1) {
    width: 20vw;
  }

  #first-container h3 {
    font-size: 2.3vw;
  }

  #demo-btn-first {
    width: 30vw;
  }

  #overview-img img {
    height: 52vw;
  }

  .logos-container {
    margin-top: 45%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #first {
    height: 80vh;
  }

  #demo-btn-first {
    width: 19vw;
  }

  .logos-container {
    margin-top: 5%;
  }
}

@media (min-width: 993px) and (max-width: 1280px) {
  #first {
    height: 80vh;
  }

  .logos-container {
    margin-top: 5%;
  }

  #demo-btn-first {
    width: 40%;
  }
}

