@import "antd/dist/reset.css";

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
  cursor: pointer;
}


#header-container {
  position: sticky;
  top: 0;
  z-index: 5;
  color: #ffffff;
  display: flex;
  gap: 2vw;
  padding-inline: 2vw;
}

#logo-img {
  align-self: center;
  height: 2vw;
  width: 16.7vw;
}

#nav-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  justify-content: flex-start;
  height: 100%;
  width: 37vw;
}

#sobre-container {
  position: fixed;
  z-index: 5;
  width: 100vw;
  background: #ffffff;
  padding: 4vh 2vw 2vh;
  justify-content: space-between;
  margin: 0;
}

.fade-in {
  position: relative;
  z-index: 2;
	-webkit-animation: fade-in 0.3s ease-in-out both;
	        animation: fade-in 0.3s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#sobre-container h1 {
  color: #1058C4;
  font-size: 2vw;
}

#sobre-col {
  max-width: 30vw;
}

#sobre-col h1 {
  color: #1058C4;
  font-size: 1.5vw;
  font-weight: 500;
  text-transform: uppercase;
}

#sobre-col h4 {
  color: #1058C4;
}


#col-item {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 1vw;
}

#col-item div {
  width: 100%;
  height: 9vh;
}

#col-item h1 {
  font-size: 1.5vw;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}

#col-item p {
  font-size: 1.2vw;
  font-weight: 400;
  color: #8C8C8C;
}

#col-item p:nth-of-type(2) {
  font-size: 1.2vw;
  font-weight: 400;
  color: #1263DE;
}

#col-item:hover {
  border-radius: 0.7vw;
  background: #E3EEFF;
  cursor: pointer;
}

#single-item h1{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0.5vw;
  color: #000000;
  font-size: 1.4vw;
  height: 6vh;
  justify-content: center;
  text-transform: none;
}

#single-item h1:hover {
  border-radius: 0.7vw;
  background: #E3EEFF;
  cursor: pointer;
}

#single-item p {
  font-size: 1.5vh;
  font-weight: 400;
  color: #1263DE;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0.5vw;
}

#single-item p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#nav-client {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

#demo-btn {
  background: linear-gradient(to top right, #16a34a, #22c55e);
  font-weight: 700;
}

#demo-btn:hover {
  background: linear-gradient(to right, #16a34a, #22c55e);
}

.sobre-divider {
  border-block-start: 1.5px solid #1263DE;
  margin: 1px 0px 1vh 0px;
}

.fix-margin {
  margin-top: 7px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

/* Media Queries */
@media (min-width: 576px) and (max-width: 767px) {
  #nav-container {
    display: none;
  }

  #nav-client {
    display: none;
  }

  #logo-img { 
    height: 3vw;
    width: 22.7vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 993px) and (max-width: 1280px) {
  #nav-container {
   font-size: 1.5vw;
  }
}